<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<header>
    <div class="header-right-side">
        <div class="options-icon">
            <div class="options-icon-part"></div>
            <div class="options-icon-part"></div>
            <div class="options-icon-part"></div>
        </div>
        <a href="/"><h1>BookPal</h1></a>
    </div>

    <div>
        <form action="/add-form" method="get">
            <input type="submit" value="ADD BOOK">
        </form>
    </div>


 </header>

